@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This is my first web application with DotNet Core 6, and I'm going to deploy it on azure virtual machine!</p>
</div>
